<div style="width: 100%">
  <p>Hintergrund</p>

  <div class="bg-options">
    <div class="template endless" (click)="setBg('endless')">
      <div class="">Endless</div>
    </div>
    <div class="template classic" (click)="setBg('classic')">
      <div>Classic</div>
    </div>
    <div class="template starry" (click)="setBg('starry')">
      <div>Starry</div>
    </div>
    <div class="template stingray" (click)="setBg('stingray')">
      <div>Stingray</div>
    </div>
    <div class="template wavy" (click)="setBg('wavy')">
      <div>Wavy</div>
    </div>
    <div class="template sunset" (click)="setBg('sunset')">
      <div>Sunset</div>
    </div>
    <div class="template flower" (click)="setBg('flower')">
      <div>Flower</div>
    </div>
  </div>
</div>
