.template {
  width: 7rem;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 1s cubic-bezier(.17,.67,.84,.61);

  &:active {
    background: #fff;
  }

}


.bg-options {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  box-sizing: content-box;
  flex-wrap: wrap;
}
