<script src="../setup/setup.component.ts"></script>
<div class="settings">
  <p>Hintergrund</p>
  <div class="bg-options">
    <div class="template endless" (click)="setBg('endless')">
      <div class=""></div>
    </div>
    <div class="template classic" (click)="setBg('classic')">
      <div></div>
    </div>
    <div class="template starry" (click)="setBg('starry')">
      <div></div>
    </div>
    <div class="template stingray" (click)="setBg('stingray')">
      <div></div>
    </div>
    <div class="template wavy" (click)="setBg('wavy')">
      <div></div>
    </div>
    <div class="template sunset" (click)="setBg('sunset')">
      <div></div>
    </div>
    <div class="template flower" (click)="setBg('flower')">
      <div></div>
    </div>
  </div>

  <hr class="breaker">

  <p>Screensaver timeout</p>
  <yah-counter [setValue]="timeoutValue" [canBeNegative]="false" [unit]="'min'" (value)="setScreenSaverTimeout($event)"></yah-counter>

  <hr class="breaker">

  <p> Sprache </p>

  <yah-dropdown></yah-dropdown>




</div>
