<div class="button-container">
  <div class="settings" (click)="goSettings()">
    <img class="settings-img" src="./assets/settings.svg">
  </div>
</div>

<div cdkDropList cdkDropListOrientation="horizontal" class="app-list" (cdkDropListDropped)="drop($event)">
  <div class="container" [@fadeIn]="availableApps.length">
    <div *ngFor="let app of availableApps">
      <div [ngSwitch]="app" (click)="handleClick($event, app)">
        <yah-weather-button *ngSwitchCase="'weather'" cdkDrag>
          <div class="drag-placeholder" *cdkDragPlaceholder></div>
        </yah-weather-button>
        <yah-light-button *ngSwitchCase="'light'" cdkDrag>
          <div class="drag-placeholder" *cdkDragPlaceholder></div>
        </yah-light-button>
        <yah-cleaning-button *ngSwitchCase="'cleaning'" cdkDrag>
          <div class="drag-placeholder" *cdkDragPlaceholder></div>
        </yah-cleaning-button>
        <yah-solar-button *ngSwitchCase="'solar'" cdkDrag>
          <div class="drag-placeholder" *cdkDragPlaceholder></div>
        </yah-solar-button>
      </div>
    </div>
  </div>
</div>


<!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
