<div cdkDropList cdkDropListOrientation="horizontal" class="app-list" (cdkDropListDropped)="drop($event)">
  <div class="container" [@fadeIn]="availableApps.length">
    <div *ngFor="let app of availableApps">
      <div [ngSwitch]="app">
        <yah-weather-button *ngSwitchCase="'weather'" cdkDrag>
          <div class="drag-placeholder" *cdkDragPlaceholder></div>
        </yah-weather-button>
        <yah-light-button *ngSwitchCase="'light'" cdkDrag>
          <div class="drag-placeholder" *cdkDragPlaceholder></div>
        </yah-light-button>
      </div>
    </div>
  </div>
</div>
